@import '../../vars.css';

.container{
    color: var(--color-text);
    margin: 76px 10% 0;
}
.title{
    font-size: clamp(20px, 2.5vw, 35px);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.75px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 37px;
}