@import '../../vars.css';

.shiny-text {
  color: transparent;
  background: linear-gradient(
    120deg,
    #ffffff40 0%,           
    var(--color-primary) 20%,  
    #7aa6ff 50%,               
    var(--color-primary) 80%, 
    #ffffff40 100%             
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
