@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    margin: 50px 10% 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    color: var(--color-text);
    font-size: clamp(36px, 6vw, 72px);
    font-weight: 800;
    font-family: var(--font-roboto);
    margin-bottom: 33px;
    background: linear-gradient(90deg, #FFF 80.05%, rgba(255, 255, 255, 0.00) 142.63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}

.description {
    text-align: justify;
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 400;
    margin-bottom: 52px;
    font-family: var(--font-roboto);
    /* line-height: 1.6; */
}

.buttonGroup{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.contactBtn {
    background: var(--color-primary);
    text-decoration: none;
    color: var(--color-text);
    padding: 18px 26px;
    border-radius: 100px;
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 600px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
    transition: .3s ease-in-out;
    display: inline-block;
    margin-top: 10px;
}

.contactBtn:hover{
    transform: scale(1.05);
    background: var(--hover-btn);
}

.contactBtn:active{
    transform: scale(1);
}

.downloadBtn {
    background: var(--color-text);
    text-decoration: none;
    color: var(--color-primary);
    padding: 18px 26px;
    border-radius: 100px;
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 600px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
    transition: .3s ease-in-out;
    display: inline-block;
    margin-top: 10px;
}

.downloadBtn:hover{
    transform: scale(1.05);
    border: 2px solid var(--color-primary);
    background: transparent;
    color: var(--color-text);
}

.downloadBtn:active{
    transform: scale(1);
}

.heroImg {
    width: 50%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-height: 350px;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.70);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-height: 350px;
    min-width: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.70);
    filter: blur(100px);
    z-index: 0;
}
.desktopOnly{
        display: inline-block;
}
.mobileOnly{
        display: none;
}

@media screen and (max-width: 830px) {
    .container{
        flex-direction: column-reverse;
    }
    .content{
        align-items: center;
    }
    .title{
        text-align: center;
    }
    .description{
        text-align: start;
    }
    .buttonGroup{
        width: 100%;
        justify-content: space-around;
        gap: 16px;
    }
    .heroImg{
        width: 70%;
    }
    .mobileOnly{
        display: inline-block;
    }
    .desktopOnly{
        display: none;
    }
}

@media screen and (max-width: 1024px){
    .container{
        flex-direction: column-reverse;
    }
    .content{
        align-items: center;
    }
    .title{
        text-align: center;
    }
    .buttonGroup{
        width: 100%;
        justify-content: space-around;
        gap: 16px;
    }
    .contactBtn{
        text-align: center;
    }
    .downloadBtn{
        text-align: center;
    }
    .heroImg{
        width: 70%;
    }
    .mobileOnly{
        display: inline-block;
    }
    .desktopOnly{
        display: none;
    }
}
